In [122]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [123]:
data = pd.read_csv(r'heart.csv')

data.drop('row.names', inplace=True, axis=1)

data.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
0  160    12.00  5.73      23.11  Present     49    25.30    97.20   52    1
1  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63    1
2  118     0.08  3.48      32.28  Present     52    29.14     3.81   46    0
3  170     7.50  6.41      38.03  Present     51    31.99    24.26   58    1
4  134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1

In [124]:
data['famhist'] = data['famhist'].map({'Present': '1', 'Absent': '0'})

data.head()

   sbp  tobacco   ldl  adiposity famhist  typea  obesity  alcohol  age  chd
0  160    12.00  5.73      23.11       1     49    25.30    97.20   52    1
1  144     0.01  4.41      28.61       0     55    28.87     2.06   63    1
2  118     0.08  3.48      32.28       1     52    29.14     3.81   46    0
3  170     7.50  6.41      38.03       1     51    31.99    24.26   58    1
4  134    13.60  3.50      27.78       1     60    25.99    57.34   49    1

In [125]:
# Taken from https://www.tensorflow.org/tutorials/load_data/csv 

inputs = {}

for name, column in data.items():
  dtype = column.dtype
  if dtype == object:
    dtype = tf.string
  else:
    dtype = tf.float32

  inputs[name] = tf.keras.Input(shape=(1,), name=name, dtype=dtype)

inputs

{'sbp': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'sbp')>,
 'tobacco': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'tobacco')>,
 'ldl': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'ldl')>,
 'adiposity': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'adiposity')>,
 'famhist': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'famhist')>,
 'typea': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'typea')>,
 'obesity': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'obesity')>,
 'alcohol': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'alcohol')>,
 'age': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'age')>,
 'chd': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'chd')>}

In [126]:
# famhist still has dtype string need to convert to float

data['famhist'] = data['famhist'].astype(float)

inputs = {}

for name, column in data.items():
  dtype = column.dtype
  if dtype == object:
    dtype = tf.string
  else:
    dtype = tf.float32

  inputs[name] = tf.keras.Input(shape=(1,), name=name, dtype=dtype)

inputs

{'sbp': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'sbp')>,
 'tobacco': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'tobacco')>,
 'ldl': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'ldl')>,
 'adiposity': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'adiposity')>,
 'famhist': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'famhist')>,
 'typea': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'typea')>,
 'obesity': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'obesity')>,
 'alcohol': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'alcohol')>,
 'age': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'age')>,
 'chd': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'chd')>}

In [127]:
# Taken from https://stackoverflow.com/questions/43697240/how-can-i-split-a-dataset-from-a-csv-file-for-training-and-testing
train = data.sample(frac=0.8, random_state = np.random.RandomState())
test = data.loc[~data.index.isin(train.index)]

train.to_csv('heart_train.csv', index=False)
test.to_csv('heart_test.csv', index=False)

print("--Get data--")
y_test = test.chd
x_test = test.drop('chd', axis=1)

y_train = train.chd
x_train = train.drop('chd', axis=1)

print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

--Get data--
(370, 9) (92, 9) (370,) (92,)

In [128]:
print("--Make model--")
model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(16, input_shape=(9,), activation="relu", kernel_regularizer=tf.keras.regularizers.l2(0.0001)),
  tf.keras.layers.Dense(16, activation="relu", kernel_regularizer=tf.keras.regularizers.l2(0.0001)),
  #tf.keras.layers.Dense(32, activation="relu", kernel_regularizer=tf.keras.regularizers.l2(0.001)),
  tf.keras.layers.Dense(1, activation = "sigmoid")
])

initial_learning_rate = 1e-2
lr_schedule = tf.keras.optimizers.schedules.ExponentialDecay(
  initial_learning_rate, decay_steps=100000, decay_rate=0.9, staircase=True)

optimizer = tf.keras.optimizers.Adamax(learning_rate=lr_schedule)

model.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

print("--Fit model--")
model.fit(x_train, y_train, epochs=75, verbose=2, batch_size = 5)

print("--Evaluate model--")
model_loss1, model_acc1 = model.evaluate(x_train,  y_train, verbose=2)
model_loss2, model_acc2 = model.evaluate(x_test,  y_test, verbose=2)
print(f"Train / Test Accuracy: {model_acc1*100:.1f}% / {model_acc2*100:.1f}%")

--Make model--
--Fit model--
Epoch 1/75
74/74 - 1s - loss: 2.0611 - accuracy: 0.5892 - 603ms/epoch - 8ms/step
Epoch 2/75
74/74 - 0s - loss: 1.0972 - accuracy: 0.6081 - 102ms/epoch - 1ms/step
Epoch 3/75
74/74 - 0s - loss: 0.8618 - accuracy: 0.5973 - 113ms/epoch - 2ms/step
Epoch 4/75
74/74 - 0s - loss: 0.8127 - accuracy: 0.6135 - 101ms/epoch - 1ms/step
Epoch 5/75
74/74 - 0s - loss: 0.9359 - accuracy: 0.6027 - 107ms/epoch - 1ms/step
Epoch 6/75
74/74 - 0s - loss: 0.8910 - accuracy: 0.6189 - 105ms/epoch - 1ms/step
Epoch 7/75
74/74 - 0s - loss: 0.6749 - accuracy: 0.6324 - 104ms/epoch - 1ms/step
Epoch 8/75
74/74 - 0s - loss: 0.7786 - accuracy: 0.6027 - 110ms/epoch - 1ms/step
Epoch 9/75
74/74 - 0s - loss: 0.6402 - accuracy: 0.6676 - 109ms/epoch - 1ms/step
Epoch 10/75
74/74 - 0s - loss: 0.6945 - accuracy: 0.6162 - 106ms/epoch - 1ms/step
Epoch 11/75
74/74 - 0s - loss: 0.6663 - accuracy: 0.6189 - 110ms/epoch - 1ms/step
Epoch 12/75
74/74 - 0s - loss: 0.7065 - accuracy: 0.6649 - 114ms/epoch - 2ms/step
Epoch 13/75
74/74 - 0s - loss: 0.6659 - accuracy: 0.6459 - 108ms/epoch - 1ms/step
Epoch 14/75
74/74 - 0s - loss: 0.7314 - accuracy: 0.6378 - 102ms/epoch - 1ms/step
Epoch 15/75
74/74 - 0s - loss: 0.6011 - accuracy: 0.7000 - 100ms/epoch - 1ms/step
Epoch 16/75
74/74 - 0s - loss: 0.5787 - accuracy: 0.6838 - 107ms/epoch - 1ms/step
Epoch 17/75
74/74 - 0s - loss: 0.6090 - accuracy: 0.6919 - 102ms/epoch - 1ms/step
Epoch 18/75
74/74 - 0s - loss: 0.6285 - accuracy: 0.6865 - 126ms/epoch - 2ms/step
Epoch 19/75
74/74 - 0s - loss: 0.6121 - accuracy: 0.6595 - 119ms/epoch - 2ms/step
Epoch 20/75
74/74 - 0s - loss: 0.5891 - accuracy: 0.6784 - 104ms/epoch - 1ms/step
Epoch 21/75
74/74 - 0s - loss: 0.5822 - accuracy: 0.6973 - 103ms/epoch - 1ms/step
Epoch 22/75
74/74 - 0s - loss: 0.6026 - accuracy: 0.6973 - 106ms/epoch - 1ms/step
Epoch 23/75
74/74 - 0s - loss: 0.5780 - accuracy: 0.6946 - 117ms/epoch - 2ms/step
Epoch 24/75
74/74 - 0s - loss: 0.5982 - accuracy: 0.6784 - 118ms/epoch - 2ms/step
Epoch 25/75
74/74 - 0s - loss: 0.6078 - accuracy: 0.6838 - 115ms/epoch - 2ms/step
Epoch 26/75
74/74 - 0s - loss: 0.5716 - accuracy: 0.6865 - 105ms/epoch - 1ms/step
Epoch 27/75
74/74 - 0s - loss: 0.5493 - accuracy: 0.7054 - 114ms/epoch - 2ms/step
Epoch 28/75
74/74 - 0s - loss: 0.5940 - accuracy: 0.6784 - 103ms/epoch - 1ms/step
Epoch 29/75
74/74 - 0s - loss: 0.5998 - accuracy: 0.6459 - 103ms/epoch - 1ms/step
Epoch 30/75
74/74 - 0s - loss: 0.5574 - accuracy: 0.7081 - 104ms/epoch - 1ms/step
Epoch 31/75
74/74 - 0s - loss: 0.5673 - accuracy: 0.6730 - 105ms/epoch - 1ms/step
Epoch 32/75
74/74 - 0s - loss: 0.5720 - accuracy: 0.6892 - 107ms/epoch - 1ms/step
Epoch 33/75
74/74 - 0s - loss: 0.5647 - accuracy: 0.6730 - 102ms/epoch - 1ms/step
Epoch 34/75
74/74 - 0s - loss: 0.5727 - accuracy: 0.6946 - 103ms/epoch - 1ms/step
Epoch 35/75
74/74 - 0s - loss: 0.5720 - accuracy: 0.6919 - 102ms/epoch - 1ms/step
Epoch 36/75
74/74 - 0s - loss: 0.5613 - accuracy: 0.6811 - 116ms/epoch - 2ms/step
Epoch 37/75
74/74 - 0s - loss: 0.5500 - accuracy: 0.6946 - 103ms/epoch - 1ms/step
Epoch 38/75
74/74 - 0s - loss: 0.5558 - accuracy: 0.6784 - 106ms/epoch - 1ms/step
Epoch 39/75
74/74 - 0s - loss: 0.5545 - accuracy: 0.6784 - 103ms/epoch - 1ms/step
Epoch 40/75
74/74 - 0s - loss: 0.5708 - accuracy: 0.6595 - 110ms/epoch - 1ms/step
Epoch 41/75
74/74 - 0s - loss: 0.5798 - accuracy: 0.6811 - 108ms/epoch - 1ms/step
Epoch 42/75
74/74 - 0s - loss: 0.5629 - accuracy: 0.6919 - 106ms/epoch - 1ms/step
Epoch 43/75
74/74 - 0s - loss: 0.5451 - accuracy: 0.6703 - 102ms/epoch - 1ms/step
Epoch 44/75
74/74 - 0s - loss: 0.5436 - accuracy: 0.7189 - 104ms/epoch - 1ms/step
Epoch 45/75
74/74 - 0s - loss: 0.5484 - accuracy: 0.6865 - 103ms/epoch - 1ms/step
Epoch 46/75
74/74 - 0s - loss: 0.5463 - accuracy: 0.7027 - 109ms/epoch - 1ms/step
Epoch 47/75
74/74 - 0s - loss: 0.5318 - accuracy: 0.7000 - 98ms/epoch - 1ms/step
Epoch 48/75
74/74 - 0s - loss: 0.5338 - accuracy: 0.7027 - 112ms/epoch - 2ms/step
Epoch 49/75
74/74 - 0s - loss: 0.5273 - accuracy: 0.7162 - 99ms/epoch - 1ms/step
Epoch 50/75
74/74 - 0s - loss: 0.5412 - accuracy: 0.6865 - 103ms/epoch - 1ms/step
Epoch 51/75
74/74 - 0s - loss: 0.5411 - accuracy: 0.6946 - 111ms/epoch - 2ms/step
Epoch 52/75
74/74 - 0s - loss: 0.5288 - accuracy: 0.7189 - 103ms/epoch - 1ms/step
Epoch 53/75
74/74 - 0s - loss: 0.5310 - accuracy: 0.7081 - 101ms/epoch - 1ms/step
Epoch 54/75
74/74 - 0s - loss: 0.5410 - accuracy: 0.7081 - 108ms/epoch - 1ms/step
Epoch 55/75
74/74 - 0s - loss: 0.5243 - accuracy: 0.7135 - 109ms/epoch - 1ms/step
Epoch 56/75
74/74 - 0s - loss: 0.5335 - accuracy: 0.7189 - 105ms/epoch - 1ms/step
Epoch 57/75
74/74 - 0s - loss: 0.5229 - accuracy: 0.7324 - 101ms/epoch - 1ms/step
Epoch 58/75
74/74 - 0s - loss: 0.5167 - accuracy: 0.7486 - 101ms/epoch - 1ms/step
Epoch 59/75
74/74 - 0s - loss: 0.5173 - accuracy: 0.7378 - 104ms/epoch - 1ms/step
Epoch 60/75
74/74 - 0s - loss: 0.5377 - accuracy: 0.7243 - 98ms/epoch - 1ms/step
Epoch 61/75
74/74 - 0s - loss: 0.5330 - accuracy: 0.7135 - 102ms/epoch - 1ms/step
Epoch 62/75
74/74 - 0s - loss: 0.5253 - accuracy: 0.7162 - 99ms/epoch - 1ms/step
Epoch 63/75
74/74 - 0s - loss: 0.5291 - accuracy: 0.7054 - 102ms/epoch - 1ms/step
Epoch 64/75
74/74 - 0s - loss: 0.5268 - accuracy: 0.7216 - 98ms/epoch - 1ms/step
Epoch 65/75
74/74 - 0s - loss: 0.5208 - accuracy: 0.7459 - 107ms/epoch - 1ms/step
Epoch 66/75
74/74 - 0s - loss: 0.5153 - accuracy: 0.7189 - 105ms/epoch - 1ms/step
Epoch 67/75
74/74 - 0s - loss: 0.5131 - accuracy: 0.7243 - 104ms/epoch - 1ms/step
Epoch 68/75
74/74 - 0s - loss: 0.5099 - accuracy: 0.7081 - 110ms/epoch - 1ms/step
Epoch 69/75
74/74 - 0s - loss: 0.5245 - accuracy: 0.7270 - 98ms/epoch - 1ms/step
Epoch 70/75
74/74 - 0s - loss: 0.5027 - accuracy: 0.7514 - 106ms/epoch - 1ms/step
Epoch 71/75
74/74 - 0s - loss: 0.5008 - accuracy: 0.7405 - 99ms/epoch - 1ms/step
Epoch 72/75
74/74 - 0s - loss: 0.5022 - accuracy: 0.7541 - 102ms/epoch - 1ms/step
Epoch 73/75
74/74 - 0s - loss: 0.5135 - accuracy: 0.7108 - 102ms/epoch - 1ms/step
Epoch 74/75
74/74 - 0s - loss: 0.4981 - accuracy: 0.7568 - 124ms/epoch - 2ms/step
Epoch 75/75
74/74 - 0s - loss: 0.5248 - accuracy: 0.7054 - 100ms/epoch - 1ms/step
--Evaluate model--
12/12 - 0s - loss: 0.4852 - accuracy: 0.7622 - 152ms/epoch - 13ms/step
3/3 - 0s - loss: 0.5810 - accuracy: 0.7174 - 26ms/epoch - 9ms/step
Train / Test Accuracy: 76.2% / 71.7%